<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- SS -->
    <link rel='stylesheet' href='/report.css' >
    <title>Report: <%= report.ticker_symbol %> <%= report.ticker_symbol %></title>
</head>
<body>
    <div id="top-navbar">
        <h1><%= report.company_name %> | <%= report.ticker_symbol %></h1>
        <p id="currency-info">CAD in Millions except per share data</p>
    </div>
    <br>
    <h2 class="report-title report-title-bs">Balance Sheet</h2>
    <% report.balance_sheet.forEach((yearly_report) => { %>
        <ul class="list-group">
            <li class="list-group-item active report-year"><%= yearly_report.year %></li>
            <% yearly_report.data.forEach((line_item) => { %>
                <% if (line_item.row_data !== '—') { %>
                    <li class='list-group-item list-group-item-action indent-level-<%= line_item.indent_level %>'>
                        <%= line_item.title %> <p class="row_data"><%= line_item.row_data %></p>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    <% }); %>
    <br>
    <h2 class="report-title report-title-cfs">Cash Flow Statement</h2>
    <% report.cash_flow.forEach((yearly_report) => { %>
        <ul class="list-group">
            <li class="list-group-item active report-year"><%= yearly_report.year %></li>
            <% yearly_report.data.forEach((line_item) => { %>
                <% if (line_item.row_data !== '—') { %>
                    <li class='list-group-item list-group-item-action indent-level-<%= line_item.indent_level %>'>
                        <%= line_item.title %> <p class="row_data"><%= line_item.row_data %></p>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    <% }); %>
    <br>
    <h2 class="report-title report-title-is">Income Statement</h2>
    <% report.income_statement.forEach((yearly_report) => { %>
        <ul class="list-group">
            <li class="list-group-item active report-year"><%= yearly_report.year %></li>
            <% yearly_report.data.forEach((line_item) => { %>
                <% if (line_item.row_data !== '—') { %>
                    <li class='list-group-item list-group-item-action indent-level-<%= line_item.indent_level %>'>
                        <%= line_item.title %> <p class="row_data"><%= line_item.row_data %></p>
                    </li>
                <% } %>
            <% }); %>
        </ul>
    <% }); %>
</body>
</html>
